/* our farm css start */
.hero{
  background-image: url(/public/image/download.jpg)   !important;;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 300px;
  
}
/* our farm css end */

/* products css start */

.milk-img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.9s ease;
}

.milk-img:hover {
  transform: rotate(360deg);
  border-radius: 50%;
  border: 5px dotted rgb(255, 140, 0);
}
.milk-img-container{
  overflow: hidden;

}
/* products css end */


/* services css start */

.services{
  background-image: url(/public/image/bg-7.jpg)   !important;;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 300px;
    
  
}

/* services css end */

/* footer css start */
  .footer-img{
    background-image: url(/public/image/bg-6.jpg)   !important;;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 200px;
  }
/* footer css end */